<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Federated GrandForest</title>
    <base href="/">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
    <link rel="icon" href="assets/fc.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/0206581977.js" crossorigin="anonymous"></script>
    <style>
        .center {
            width: 100%;
            text-align: center;
        }
        .scaledsvg {
            width: 120px;
            height: 120px;
        }
    </style>
</head>

<body>
    <div class="main-wrapper">
        <main>
            <section class="hero is-link is-small">
                <div class="hero-body">
                    <div class="container is-fluid">
                        <section class="section" style="padding: 1rem 1rem;">
                            <h1 class="title">
                                Federated GrandForest
                            </h1>
                        </section>
                    </div>
                </div>
            </section>
    
    
            <div class="container is-fluid">
                <div class="card" style="margin-bottom: 15px;">
                    <div class="card-content">
                        <div class="center">
                            <svg class=scaledsvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><path d="M32,2C15.431,2,2,15.432,2,32c0,16.568,13.432,30,30,30c16.568,0,30-13.432,30-30C62,15.432,48.568,2,32,2z M25.025,50
                                l-0.02-0.02L24.988,50L11,35.6l7.029-7.164l6.977,7.184l21-21.619L53,21.199L25.025,50z" fill="#3273dc"/></svg>                            
                            </br></br>
                            Input accepted. Starting GrandForest Workflow...
                            </br></br>
                            <button class="button is-link" onClick="window.location.href=window.location.href">Refresh Page</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
</body>
